body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:571px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:850px;
}
#u7237 {
  position:absolute;
  left:146px;
  top:0px;
  width:425px;
  height:850px;
}
#u7238 {
  position:absolute;
  left:2px;
  top:417px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:22px;
}
#u7239 {
  position:absolute;
  left:171px;
  top:96px;
  width:374px;
  height:22px;
}
#u7240 {
  position:absolute;
  left:2px;
  top:3px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:48px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7241 {
  position:absolute;
  left:171px;
  top:118px;
  width:375px;
  height:48px;
}
#u7242 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u7243 {
  position:absolute;
  left:186px;
  top:130px;
  width:15px;
  height:25px;
}
#u7244 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
  text-align:center;
}
#u7245 {
  position:absolute;
  left:350px;
  top:132px;
  width:35px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
  text-align:center;
}
#u7246 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u7247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:585px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7247 {
  position:absolute;
  left:172px;
  top:166px;
  width:374px;
  height:585px;
}
#u7248 {
  position:absolute;
  left:2px;
  top:284px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:2px;
}
#u7249 {
  position:absolute;
  left:185px;
  top:232px;
  width:349px;
  height:1px;
}
#u7250 {
  position:absolute;
  left:2px;
  top:-8px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u7251 {
  position:absolute;
  left:185px;
  top:200px;
  width:94px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u7252 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u7253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:2px;
}
#u7253 {
  position:absolute;
  left:185px;
  top:282px;
  width:349px;
  height:1px;
}
#u7254 {
  position:absolute;
  left:2px;
  top:-8px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u7255 {
  position:absolute;
  left:185px;
  top:253px;
  width:129px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u7256 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u7257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 203, 76, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7257 {
  position:absolute;
  left:191px;
  top:314px;
  width:349px;
  height:40px;
}
#u7258 {
  position:absolute;
  left:2px;
  top:12px;
  width:345px;
  word-wrap:break-word;
}
#u7259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 203, 76, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7259 {
  position:absolute;
  left:421px;
  top:187px;
  width:113px;
  height:40px;
}
#u7260 {
  position:absolute;
  left:2px;
  top:12px;
  width:109px;
  word-wrap:break-word;
}
