body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1004px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:850px;
}
#u3962 {
  position:absolute;
  left:59px;
  top:6px;
  width:425px;
  height:850px;
}
#u3963 {
  position:absolute;
  left:2px;
  top:417px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:22px;
}
#u3964 {
  position:absolute;
  left:84px;
  top:102px;
  width:374px;
  height:22px;
}
#u3965 {
  position:absolute;
  left:2px;
  top:3px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3966 {
  position:absolute;
  left:84px;
  top:121px;
  width:375px;
  height:592px;
  overflow:hidden;
  touch-action:none;
}
#u3966_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:592px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3966_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3967 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1314px;
  overflow:hidden;
  touch-action:none;
}
#u3967_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1314px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3967_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3968 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:1313px;
  overflow:hidden;
}
#u3968_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:1313px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
}
#u3968_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:140px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3969 {
  position:absolute;
  left:0px;
  top:1px;
  width:376px;
  height:140px;
}
#u3970 {
  position:absolute;
  left:2px;
  top:62px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:188px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3971 {
  position:absolute;
  left:0px;
  top:283px;
  width:376px;
  height:188px;
}
#u3972 {
  position:absolute;
  left:2px;
  top:86px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3973 {
  position:absolute;
  left:1px;
  top:141px;
  width:376px;
  height:63px;
}
#u3974 {
  position:absolute;
  left:2px;
  top:24px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u3975 {
  position:absolute;
  left:18px;
  top:179px;
  width:48px;
  height:16px;
  color:#000000;
}
#u3976 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u3977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u3977 {
  position:absolute;
  left:156px;
  top:12px;
  width:64px;
  height:64px;
}
#u3978 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u3979 {
  position:absolute;
  left:111px;
  top:79px;
  width:67px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u3980 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u3981 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:21px;
}
#u3982 {
  position:absolute;
  left:175px;
  top:94px;
  width:25px;
  height:21px;
}
#u3983 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3984 {
  position:absolute;
  left:194px;
  top:96px;
  width:49px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3985 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u3986 {
  position:absolute;
  left:178px;
  top:80px;
  width:76px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u3987 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u3988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u3988 {
  position:absolute;
  left:151px;
  top:180px;
  width:48px;
  height:18px;
  color:#000000;
}
#u3989 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u3990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u3990 {
  position:absolute;
  left:215px;
  top:179px;
  width:48px;
  height:18px;
  color:#000000;
}
#u3991 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u3992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u3992 {
  position:absolute;
  left:283px;
  top:180px;
  width:84px;
  height:18px;
  color:#000000;
}
#u3993 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u3994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:38px;
}
#u3994 {
  position:absolute;
  left:272px;
  top:158px;
  width:1px;
  height:37px;
}
#u3995 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
}
#u3996 {
  position:absolute;
  left:29px;
  top:154px;
  width:25px;
  height:23px;
}
#u3997 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:23px;
}
#u3998 {
  position:absolute;
  left:158px;
  top:154px;
  width:28px;
  height:23px;
}
#u3999 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
}
#u4000 {
  position:absolute;
  left:225px;
  top:154px;
  width:23px;
  height:20px;
}
#u4001 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
}
#u4002 {
  position:absolute;
  left:311px;
  top:153px;
  width:23px;
  height:20px;
}
#u4003 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4004 {
  position:absolute;
  left:23px;
  top:340px;
  width:75px;
  height:16px;
  color:#000000;
}
#u4005 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u4006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:2px;
}
#u4006 {
  position:absolute;
  left:20px;
  top:364px;
  width:321px;
  height:1px;
}
#u4007 {
  position:absolute;
  left:2px;
  top:-8px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:23px;
}
#u4008 {
  position:absolute;
  left:346px;
  top:337px;
  width:13px;
  height:23px;
}
#u4009 {
  position:absolute;
  left:2px;
  top:4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4010 {
  position:absolute;
  left:23px;
  top:375px;
  width:69px;
  height:16px;
  color:#000000;
}
#u4011 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u4012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:2px;
}
#u4012 {
  position:absolute;
  left:20px;
  top:402px;
  width:321px;
  height:1px;
}
#u4013 {
  position:absolute;
  left:2px;
  top:-8px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:23px;
}
#u4014 {
  position:absolute;
  left:346px;
  top:375px;
  width:13px;
  height:23px;
}
#u4015 {
  position:absolute;
  left:2px;
  top:4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4016 {
  position:absolute;
  left:1px;
  top:214px;
  width:376px;
  height:59px;
}
#u4017 {
  position:absolute;
  left:2px;
  top:22px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4018 {
  position:absolute;
  left:100px;
  top:246px;
  width:60px;
  height:18px;
  color:#000000;
}
#u4019 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u4020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4020 {
  position:absolute;
  left:194px;
  top:244px;
  width:46px;
  height:18px;
  color:#000000;
}
#u4021 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u4022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4022 {
  position:absolute;
  left:291px;
  top:245px;
  width:64px;
  height:18px;
  color:#000000;
}
#u4023 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u4024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:38px;
}
#u4024 {
  position:absolute;
  left:272px;
  top:222px;
  width:1px;
  height:37px;
}
#u4025 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u4026 {
  position:absolute;
  left:114px;
  top:230px;
  width:29px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u4027 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u4028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u4028 {
  position:absolute;
  left:208px;
  top:226px;
  width:29px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u4029 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u4030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:23px;
}
#u4030 {
  position:absolute;
  left:307px;
  top:219px;
  width:27px;
  height:23px;
}
#u4031 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4032 {
  position:absolute;
  left:21px;
  top:249px;
  width:60px;
  height:18px;
  color:#000000;
}
#u4033 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u4034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u4034 {
  position:absolute;
  left:26px;
  top:230px;
  width:65px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u4035 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u4036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4036 {
  position:absolute;
  left:1px;
  top:504px;
  width:376px;
  height:35px;
}
#u4037 {
  position:absolute;
  left:2px;
  top:10px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u4038 {
  position:absolute;
  left:145px;
  top:514px;
  width:72px;
  height:16px;
  color:#FF0000;
}
#u4039 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u4040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4040 {
  position:absolute;
  left:24px;
  top:298px;
  width:75px;
  height:16px;
  color:#000000;
}
#u4041 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u4042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:2px;
}
#u4042 {
  position:absolute;
  left:21px;
  top:322px;
  width:321px;
  height:1px;
}
#u4043 {
  position:absolute;
  left:2px;
  top:-8px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:23px;
}
#u4044 {
  position:absolute;
  left:347px;
  top:295px;
  width:13px;
  height:23px;
}
#u4045 {
  position:absolute;
  left:2px;
  top:4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u4046 {
  position:absolute;
  left:96px;
  top:119px;
  width:179px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u4047 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  word-wrap:break-word;
}
#u4048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:29px;
}
#u4048 {
  position:absolute;
  left:330px;
  top:2px;
  width:31px;
  height:29px;
}
#u4049 {
  position:absolute;
  left:2px;
  top:6px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4050 {
  position:absolute;
  left:23px;
  top:413px;
  width:69px;
  height:16px;
  color:#000000;
}
#u4051 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u4052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:2px;
}
#u4052 {
  position:absolute;
  left:20px;
  top:440px;
  width:321px;
  height:1px;
}
#u4053 {
  position:absolute;
  left:2px;
  top:-8px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:23px;
}
#u4054 {
  position:absolute;
  left:346px;
  top:413px;
  width:13px;
  height:23px;
}
#u4055 {
  position:absolute;
  left:2px;
  top:4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4056 {
  position:absolute;
  left:82px;
  top:179px;
  width:48px;
  height:18px;
  color:#000000;
}
#u4057 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u4058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:19px;
}
#u4058 {
  position:absolute;
  left:94px;
  top:157px;
  width:23px;
  height:19px;
}
#u4059 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4061 {
  position:absolute;
  left:84px;
  top:713px;
  width:375px;
  height:47px;
  overflow:hidden;
}
#u4061_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:47px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4061_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:47px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4062 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:47px;
}
#u4063 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
  text-align:center;
}
#u4064 {
  position:absolute;
  left:265px;
  top:28px;
  width:31px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
  text-align:center;
}
#u4065 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u4066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u4066 {
  position:absolute;
  left:269px;
  top:4px;
  width:22px;
  height:22px;
}
#u4067 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
  text-align:center;
}
#u4068 {
  position:absolute;
  left:56px;
  top:28px;
  width:39px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
  text-align:center;
}
#u4069 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u4070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u4070 {
  position:absolute;
  left:65px;
  top:4px;
  width:22px;
  height:22px;
}
#u4071 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4072 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4073 {
  position:absolute;
  left:233px;
  top:0px;
  width:142px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#0000FF;
  text-align:center;
}
#u4074 {
  position:absolute;
  left:147px;
  top:28px;
  width:56px;
  height:16px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#0000FF;
  text-align:center;
}
#u4075 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u4076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u4076 {
  position:absolute;
  left:164px;
  top:4px;
  width:22px;
  height:22px;
}
#u4077 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4078 {
  position:absolute;
  left:98px;
  top:2px;
  width:135px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u4079 {
  position:absolute;
  left:417px;
  top:517px;
  width:32px;
  height:32px;
}
#u4080 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u4081 {
  position:absolute;
  left:410px;
  top:549px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u4082 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u4083 {
  position:absolute;
  left:239px;
  top:70px;
  width:49px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u4084 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:850px;
}
#u4086 {
  position:absolute;
  left:579px;
  top:6px;
  width:425px;
  height:850px;
}
#u4087 {
  position:absolute;
  left:2px;
  top:417px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:22px;
}
#u4088 {
  position:absolute;
  left:604px;
  top:102px;
  width:374px;
  height:22px;
}
#u4089 {
  position:absolute;
  left:2px;
  top:3px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4090 {
  position:absolute;
  left:604px;
  top:121px;
  width:375px;
  height:592px;
  overflow:hidden;
  touch-action:none;
}
#u4090_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:592px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4090_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4091 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1314px;
  overflow:hidden;
  touch-action:none;
}
#u4091_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1314px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4091_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4092 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:1313px;
  overflow:hidden;
}
#u4092_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:1313px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
}
#u4092_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:140px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4093 {
  position:absolute;
  left:0px;
  top:1px;
  width:376px;
  height:140px;
}
#u4094 {
  position:absolute;
  left:2px;
  top:62px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:188px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4095 {
  position:absolute;
  left:0px;
  top:283px;
  width:376px;
  height:188px;
}
#u4096 {
  position:absolute;
  left:2px;
  top:86px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4097 {
  position:absolute;
  left:1px;
  top:141px;
  width:376px;
  height:63px;
}
#u4098 {
  position:absolute;
  left:2px;
  top:24px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4099 {
  position:absolute;
  left:18px;
  top:179px;
  width:48px;
  height:16px;
  color:#000000;
}
#u4100 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u4101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u4101 {
  position:absolute;
  left:156px;
  top:60px;
  width:67px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u4102 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u4103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4103 {
  position:absolute;
  left:151px;
  top:180px;
  width:48px;
  height:18px;
  color:#000000;
}
#u4104 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u4105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4105 {
  position:absolute;
  left:215px;
  top:179px;
  width:48px;
  height:18px;
  color:#000000;
}
#u4106 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u4107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4107 {
  position:absolute;
  left:283px;
  top:180px;
  width:84px;
  height:18px;
  color:#000000;
}
#u4108 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u4109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:38px;
}
#u4109 {
  position:absolute;
  left:272px;
  top:158px;
  width:1px;
  height:37px;
}
#u4110 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
}
#u4111 {
  position:absolute;
  left:29px;
  top:154px;
  width:25px;
  height:23px;
}
#u4112 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:23px;
}
#u4113 {
  position:absolute;
  left:158px;
  top:154px;
  width:28px;
  height:23px;
}
#u4114 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
}
#u4115 {
  position:absolute;
  left:225px;
  top:154px;
  width:23px;
  height:20px;
}
#u4116 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
}
#u4117 {
  position:absolute;
  left:311px;
  top:153px;
  width:23px;
  height:20px;
}
#u4118 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4119 {
  position:absolute;
  left:23px;
  top:340px;
  width:75px;
  height:16px;
  color:#000000;
}
#u4120 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u4121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:2px;
}
#u4121 {
  position:absolute;
  left:20px;
  top:364px;
  width:321px;
  height:1px;
}
#u4122 {
  position:absolute;
  left:2px;
  top:-8px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:23px;
}
#u4123 {
  position:absolute;
  left:346px;
  top:337px;
  width:13px;
  height:23px;
}
#u4124 {
  position:absolute;
  left:2px;
  top:4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4125 {
  position:absolute;
  left:23px;
  top:375px;
  width:69px;
  height:16px;
  color:#000000;
}
#u4126 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u4127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:2px;
}
#u4127 {
  position:absolute;
  left:20px;
  top:402px;
  width:321px;
  height:1px;
}
#u4128 {
  position:absolute;
  left:2px;
  top:-8px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:23px;
}
#u4129 {
  position:absolute;
  left:346px;
  top:375px;
  width:13px;
  height:23px;
}
#u4130 {
  position:absolute;
  left:2px;
  top:4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4131 {
  position:absolute;
  left:1px;
  top:214px;
  width:376px;
  height:59px;
}
#u4132 {
  position:absolute;
  left:2px;
  top:22px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4133 {
  position:absolute;
  left:100px;
  top:246px;
  width:60px;
  height:18px;
  color:#000000;
}
#u4134 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u4135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4135 {
  position:absolute;
  left:194px;
  top:244px;
  width:46px;
  height:18px;
  color:#000000;
}
#u4136 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u4137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4137 {
  position:absolute;
  left:291px;
  top:245px;
  width:64px;
  height:18px;
  color:#000000;
}
#u4138 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u4139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:38px;
}
#u4139 {
  position:absolute;
  left:272px;
  top:222px;
  width:1px;
  height:37px;
}
#u4140 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u4141 {
  position:absolute;
  left:114px;
  top:230px;
  width:29px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u4142 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u4143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u4143 {
  position:absolute;
  left:208px;
  top:226px;
  width:29px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u4144 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u4145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:23px;
}
#u4145 {
  position:absolute;
  left:307px;
  top:219px;
  width:27px;
  height:23px;
}
#u4146 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4147 {
  position:absolute;
  left:21px;
  top:249px;
  width:60px;
  height:18px;
  color:#000000;
}
#u4148 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u4149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u4149 {
  position:absolute;
  left:26px;
  top:230px;
  width:65px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u4150 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u4151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4151 {
  position:absolute;
  left:24px;
  top:298px;
  width:75px;
  height:16px;
  color:#000000;
}
#u4152 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u4153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:2px;
}
#u4153 {
  position:absolute;
  left:21px;
  top:322px;
  width:321px;
  height:1px;
}
#u4154 {
  position:absolute;
  left:2px;
  top:-8px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:23px;
}
#u4155 {
  position:absolute;
  left:347px;
  top:295px;
  width:13px;
  height:23px;
}
#u4156 {
  position:absolute;
  left:2px;
  top:4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:29px;
}
#u4157 {
  position:absolute;
  left:330px;
  top:2px;
  width:31px;
  height:29px;
}
#u4158 {
  position:absolute;
  left:2px;
  top:6px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4159 {
  position:absolute;
  left:23px;
  top:413px;
  width:69px;
  height:16px;
  color:#000000;
}
#u4160 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u4161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:2px;
}
#u4161 {
  position:absolute;
  left:20px;
  top:440px;
  width:321px;
  height:1px;
}
#u4162 {
  position:absolute;
  left:2px;
  top:-8px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:23px;
}
#u4163 {
  position:absolute;
  left:346px;
  top:413px;
  width:13px;
  height:23px;
}
#u4164 {
  position:absolute;
  left:2px;
  top:4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4165 {
  position:absolute;
  left:82px;
  top:179px;
  width:48px;
  height:18px;
  color:#000000;
}
#u4166 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u4167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:19px;
}
#u4167 {
  position:absolute;
  left:94px;
  top:157px;
  width:23px;
  height:19px;
}
#u4168 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4170 {
  position:absolute;
  left:604px;
  top:713px;
  width:375px;
  height:47px;
  overflow:hidden;
}
#u4170_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:47px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4170_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:47px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4171 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:47px;
}
#u4172 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
  text-align:center;
}
#u4173 {
  position:absolute;
  left:265px;
  top:28px;
  width:31px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
  text-align:center;
}
#u4174 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u4175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u4175 {
  position:absolute;
  left:269px;
  top:4px;
  width:22px;
  height:22px;
}
#u4176 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
  text-align:center;
}
#u4177 {
  position:absolute;
  left:56px;
  top:28px;
  width:39px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
  text-align:center;
}
#u4178 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u4179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u4179 {
  position:absolute;
  left:65px;
  top:4px;
  width:22px;
  height:22px;
}
#u4180 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4181 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4182 {
  position:absolute;
  left:233px;
  top:0px;
  width:142px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#0000FF;
  text-align:center;
}
#u4183 {
  position:absolute;
  left:147px;
  top:28px;
  width:56px;
  height:16px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#0000FF;
  text-align:center;
}
#u4184 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u4185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u4185 {
  position:absolute;
  left:164px;
  top:4px;
  width:22px;
  height:22px;
}
#u4186 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4187 {
  position:absolute;
  left:98px;
  top:2px;
  width:135px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u4188 {
  position:absolute;
  left:937px;
  top:517px;
  width:32px;
  height:32px;
}
#u4189 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u4190 {
  position:absolute;
  left:930px;
  top:549px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u4191 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u4192 {
  position:absolute;
  left:759px;
  top:70px;
  width:49px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u4193 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
